.article-detail {
    h2 {
        font-size: $text-xl;
    }

    time {
        color: $color-50black;
        display: block;
    }

    h4 {
        font-weight: bold;
    }

    .article-detail-pic {
        text-align: center;

        img {
            width: 75%;
            height: 300px;
            object-fit: cover;
        }
    }
}