.news-list {
    li {
        padding-bottom: 8px;
        border-bottom: 1px solid $color-lightgray;

        a {
            &:hover {
                h2 {
                    color: $color-primary;
                }
            }

            h2 {
                font-size: $text-m;
            }

            time {
                color: $color-50black;
                display: block;
            }
        }

    }
}